@import "../variables";

.container-fluid {
  .container-wrapper {
    width: 100%;
    background-color: #ffa1a1;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
    .content {
      position: relative;
      border-radius: 5px;
      margin: auto;
      width: 98%;
      min-height: 500px;
      background-color:rgba(0, 0, 0, 0.3);
      box-shadow: 0 2px 1px rgba(0,0,0,0.09), 
            0 4px 2px rgba(0,0,0,0.09), 
            0 8px 4px rgba(0,0,0,0.09), 
            0 16px 8px rgba(0,0,0,0.09),
            0 32px 16px rgba(0,0,0,0.09);
      padding: 20px;
      color: white;
      text-align: center;
      .messages {
        margin: auto;
        .subject {
          font-size: 8rem;
          font-weight: bold;
        }
        .message {
          font-size: 8rem;
          font-weight: bold;
        }
      }
      .actions {
        display: flex;
        margin: auto;
        justify-content: center;
        .action {
          margin-right: 10px;
        }
      }
    }
  }
}
      
      