@import "../variables";

.login-form {
  margin-top: 30px !important;
  width: 300px;
  border: 1px solid $layout_wrapper-border-color;
  border-radius: 4px;
  margin: auto;
  .sns-login {
    position: relative;
    min-height: 80px;
  }
}