// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #fe4a49;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$grey: #c0c0c0;
$white: #e2e2e2;

$theme-color: #7c5295;
$background-color: #fff;
$body-bg: $background-color;
$background-fullscreen-color: #f5f4f5;
$btn_text-color: #e2e2e2;
$disabled: #aaaaaa;
$text-color: #000000;
$btn-background-color: #CA2C46;

$nav-color:#7c5295;
$nav-text-color: #FFF;
$top-nav-color: #7c5295;
$top-nav-text-color: #FFF;

$selected-color: #daa520;

$form_min-width: 180px;
$form_max-width: 200px;

$layout_min-width-sp: 320px;
$layout_max-width-sp: 768px;
$layout_min-width-tab: 768px;
$layout_max-width-tab: 1200px;
$layout_min-width-pc: 1200px;
$layout_max-width-pc: 1600px;

$layout_wrapper-border-color: #e5e3dd;

$min_height-slider: 200px;